/* .content-container{
    height: 100vh;
} */
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0.7rem;
}

h2, h4{
    font-size: 45px;
    color: var(--secondary-theme-color);
}

@media screen and (min-width: 560px) {
    .profiles{
        flex-basis: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
}