<input type="checkbox" id="hamburger-input" class="burger-shower" hidden/>
<label id="hamburger-menu" for="hamburger-input">
<div class="dropdown">
    <div id="dropbtn">
        <button>
            <img src="assets/images/menu.svg" alt="" width="45px" height="45px">
        </button>
    </div>
    <div class="dropdown-content">
        <ul>
            <li><a routerLink="/" routerLinkActive="active">Home</a></li>
            <li><a a routerLink="/events" routerLinkActive="active"> Events </a></li>
            <li><a routerLink="/about-us" routerLinkActive="active">About Us</a></li>
        </ul>
    </div>
</div>
