<div class="content">
    <div id="featured_image" class="home-content">
        <img src="assets/images/home.jpeg" alt="" srcset="">
    </div>
    <div class="home-content">
        <div>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit</span><br> 
            Placeat eligendi unde labore, fuga sequi illum provident culpa, voluptate ut ullam <br> <br> <br> 
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit</span> 
            aperiam delectus quasi quas quam ipsum.
        </div>
    </div>
</div>
